/** ele admin 暗黑主题 license by http://eleadmin.com */

// 背景色
$--color-white: #1f1f1f !default;
$--color-black: #ffffff !default;
$--background-color-base: #262626 !default;

// 文字颜色
$--color-text-primary: #f2f2f2 !default;
$--color-text-regular: #bfbfbf !default;
$--color-text-secondary: #8c8c8c !default;
$--color-text-placeholder: #595959 !default;

// 边框色
$--border-color-base: #444444 !default;
$--border-color-light: #383838 !default;
$--border-color-lighter: #323232 !default;
$--border-color-extra-light: #262626 !default;

// box shadow
$--box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.48), 0 6px 16px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.2) !default;

// radio
$--radio-button-checked-font-color: $--color-black !default;

// message
$--message-background-color: $--background-color-base !default;
$--message-info-font-color: $--color-text-regular !default;

// button
$--button-primary-font-color: $--color-black !default;
$--button-success-font-color: $--color-black !default;
$--button-warning-font-color: $--color-black !default;
$--button-danger-font-color: $--color-black !default;

// popup
$--popup-modal-background-color: #000000 !default;

// tooltip
$--tooltip-fill: $--background-color-base !default;
$--tooltip-color: $--color-black !default;
$--tooltip-border-color: $--background-color-base !default;

// ele admin 变量
$--layout-body-background: #000000 !default;
$--logo-light-color: $--color-text-regular !default;
$--sidebar-background-dark: $--color-white !default;
$--sidebar-light-shadow: 1px 3px 3px rgba(0, 0, 0, .85) !default;
$--sidebar-dark-shadow: 0 4px 4px rgba(0, 0, 0, .85) !default;
$--logo-light-shadow: 1px 2px 3px rgba(0, 0, 0, .85) !default;
$--logo-dark-shadow: 0 0px 4px rgba(0, 0, 0, .85) !default;

// ele-admin的css
@import './default.scss';

// loading
.el-loading-mask {
  background-color: rgba($--color-white, .9);
}

// badge
.el-badge__content {
  color: $--color-black;
}

// pagination
.el-pagination.is-background .el-pager li:not(.disabled).active {
  color: $--color-black;
}

// switch
.el-switch__core:after {
  background-color: $--color-black;
}

// checkbox
.el-checkbox__inner::after {
  border-color: $--color-black;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  background-color: $--color-black;
}

// menu
.el-menu {
  border-right-color: $--border-color-light;
}

.el-menu.el-menu--horizontal {
  border-bottom-color: $--border-color-light;
}

// tag
.el-tag--dark,
.el-tag--dark.el-tag--success,
.el-tag--dark.el-tag--info,
.el-tag--dark.el-tag--warning,
.el-tag--dark.el-tag--danger {
  color: $--color-black;
}

.el-tag--dark .el-tag__close {
  color: $--color-black;
}

// input
input {
  background-color: transparent;
}

// 空视图
.ele-empty {
  color: $--color-text-placeholder;
}

.ele-empty-icon-default-ellipse {
  fill: $--border-color-lighter;
}

.ele-empty-icon-default-g {
  stroke: $--border-color-base;
}

.ele-empty-icon-default-path {
  fill: $--border-color-lighter;
}
