/** ele admin 默认主题 license by http://eleadmin.com */

$--color-success: #52c41a !default;
$--color-warning: #faad14 !default;
$--color-danger: #ff4d4f !default;

$--color-success-light: rgba($--color-success, .3) !default;
$--color-warning-light: rgba($--color-warning, .3) !default;
$--color-danger-light: rgba($--color-danger, .3) !default;

$--background-color-base: #fafafa !default;
$--border-color-base: #dddddd !default;
$--border-color-light: #e5e5e5 !default;
$--border-color-lighter: #ededed !default;
$--border-color-extra-light: #f4f4f4 !default;

@import "./chalk.scss";
