/** ele admin 框架布局样式 license by http://eleadmin.com */
@import 'var';

/* header */
.ele-admin-header {
  display: flex;
  align-items: center;
  height: $--header-height;
  box-shadow: $--header-light-shadow;
  background: $--color-white;
  z-index: ($--layout-z-index + 2);
  box-sizing: border-box;
  position: relative;

  // logo
  .ele-admin-logo {
    width: $--sidebar-width;
    height: $--header-height;
    background: $--color-white;
    box-shadow: $--logo-light-shadow;
    transition: $--sidebar-transition;
    font-size: $--logo-font-size;
    color: $--logo-light-color;
    letter-spacing: 1.5px;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: $--logo-size;
      height: $--logo-size;

      & + span {
        margin-left: 10px;
      }
    }
  }

  // 面包屑
  .ele-admin-breadcrumb {
    white-space: nowrap;
    flex-shrink: 0;

    .el-breadcrumb__item {
      float: none;
      display: inline-block;
    }
  }

  // nav
  .ele-admin-header-nav {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    background: none !important;
    border: none !important;

    & > .el-menu-item,
    & > .el-submenu .el-submenu__title {
      padding: 0 12px;
      height: $--header-height;
      line-height: $--header-height;
    }

    & > .el-menu-item,
    & > .el-submenu {
      float: none;
      display: inline-block;
    }

    & > .el-submenu > .el-menu--horizontal {
      position: fixed !important;
    }
  }

  // 操作按钮
  .ele-admin-header-tool {
    display: flex;
    flex-shrink: 0;
    padding: 0 12px;
    font-size: 18px;

    .ele-admin-header-tool-item {
      padding: 0 12px;
      line-height: $--header-height;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, .025);
      }

      & > .el-dropdown {
        display: block;
      }
    }
  }

  // 用户信息
  .ele-admin-header-avatar {
    display: flex;
    align-items: center;

    .el-avatar {
      width: $--header-avatar-size;
      height: $--header-avatar-size;

      & + span {
        padding-left: 4px;
      }
    }

    .el-icon-arrow-down {
      font-size: 12px;
      margin-left: 4px;
      font-weight: bold;
    }
  }
}

/* main */
.ele-admin-main {
  display: flex;
}

/* 侧边栏 */
.ele-admin-sidebar {
  flex-shrink: 0;
  overflow-x: hidden;
  width: $--sidebar-width;
  min-height: calc(100vh - #{$--header-height});
  background: $--color-white;
  box-shadow: $--sidebar-light-shadow;
  transition: $--sidebar-transition;
  z-index: ($--layout-z-index + 3);
  position: relative;

  & > .el-menu {
    border: none;
    background: none;

    & > .el-menu-item,
    & > .el-submenu > .el-submenu__title {
      margin: 0;
      height: 55px;
      line-height: 55px;
    }

    & > .el-submenu > .el-menu--vertical {
      position: fixed !important;
    }
  }
}

/* 主体部分 */
.ele-admin-body {
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
}

/* 多页签 */
.ele-admin-tabs {
  height: $--tabs-height;
  background: $--color-white;
  box-shadow: $--header-light-shadow;
  padding-right: $--tabs-height;
  box-sizing: border-box;
  z-index: $--layout-z-index;
  position: relative;

  .el-tabs__item {
    color: $--color-text-secondary;
    padding: 0 15px !important;
    height: $--tabs-height;
    line-height: $--tabs-height;
    transition: background-color .2s, color .2s;

    &.is-closable {
      padding-right: 8px !important;
    }

    &:after {
      content: "";
      height: 2px;
      width: 0;
      background: $--color-primary;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:hover {
      color: $--color-text-primary;
      background: rgba(0, 0, 0, .025);
    }

    &.is-active {
      color: $--color-primary;
      background: rgba($--color-primary, .08);

      &:after {
        width: 100%;
      }
    }

    .el-icon-close {
      margin-left: 4px;
      color: $--color-text-secondary;

      &:hover {
        color: #fff;
        background: $--color-danger;
      }
    }
  }

  .el-tabs__active-bar,
  .el-tabs__content {
    display: none;
  }

  @mixin tabs-btn {
    width: $--tabs-height;
    height: $--tabs-height;
    line-height: $--tabs-height;
    text-align: center;
    box-sizing: border-box;
    font-size: $--font-size-medium;
    color: $--color-text-secondary;
    transition: background-color .2s;

    &:hover {
      color: $--color-text-primary;
      background: rgba(0, 0, 0, .025);
    }
  }

  .el-tabs__nav-wrap {
    padding: 0 $--tabs-height;

    &:before,
    &:after {
      @include tabs-btn;
      position: absolute;
      top: 0;
      left: 0;
      font-family: 'element-icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      cursor: not-allowed;
    }

    &:before {
      content: "\e6de";
    }

    &:after {
      content: "\e6e0";
      right: 0;
      left: auto;
      bottom: auto;
      height: auto;
      background: none;
    }

    &.is-scrollable {
      padding: 0 ($--tabs-height - 1px) 0 $--tabs-height;

      &:before,
      &:after {
        display: none;
      }
    }
  }

  .el-tabs__nav-next,
  .el-tabs__nav-prev {
    @include tabs-btn;

    i {
      vertical-align: -1px;
    }
  }

  .ele-admin-tabs-drop {
    position: absolute;
    right: 0;
    top: 0;

    .el-icon-arrow-down {
      @include tabs-btn;
      display: inline-block;
      cursor: pointer;
    }
  }
}

/* 开启多页签顶栏阴影处理 */
.ele-admin-show-tabs:not(.ele-admin-tab-card):not(.ele-admin-head-dark) {
  .ele-admin-header {
    box-shadow: $--sidebar-width 1px 0 $--border-color-extra-light;
    transition: padding-left $--sidebar-transition-anim;
  }

  &.ele-admin-collapse .ele-admin-header {
    box-shadow: $--sidebar-collapse-width 1px 0 $--border-color-extra-light;
  }

  &.ele-admin-logo-auto .ele-admin-header {
    box-shadow: 0 1px 0 $--border-color-extra-light;
  }
}

/* 内容部分滚动条 */
@media screen and (min-width: 768px) {
  .ele-admin-content::-webkit-scrollbar-track {
    background: $--layout-body-background;
  }
}

/* 折叠侧边栏 */
.ele-admin-collapse {
  .ele-admin-logo > span {
    display: none;
  }

  .ele-admin-logo,
  .ele-admin-sidebar,
  .ele-admin-sidebar .el-menu--collapse {
    width: $--sidebar-collapse-width;
  }

  .ele-admin-sidebar .el-menu--collapse > li > .el-tooltip,
  .ele-admin-sidebar .el-menu--collapse > li > .el-submenu__title {
    padding: 0 !important;
    text-align: center !important;
  }
}

/* 主题风格 */
// 固定顶栏
.ele-admin-fixed-header:not(.ele-admin-fixed-body) {
  padding-top: $--header-height;

  .ele-admin-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &.ele-admin-show-tabs .ele-admin-body {
    padding-top: $--tabs-height;
  }

  .ele-admin-tabs {
    position: fixed;
    left: 0;
    right: 0;
    top: $--header-height;
    transition: left $--sidebar-transition-anim;
  }

  .ele-admin-sidebar + .ele-admin-body .ele-admin-tabs {
    left: $--sidebar-width;
  }

  &.ele-admin-collapse .ele-admin-sidebar + .ele-admin-body .ele-admin-tabs {
    left: $--sidebar-collapse-width;
  }

  &:not(.ele-admin-fixed-sidebar) .ele-admin-sidebar {
    z-index: ($--layout-z-index + 1);
  }
}

// 固定侧栏
.ele-admin-fixed-sidebar:not(.ele-admin-fixed-body) {
  .ele-admin-sidebar {
    position: fixed;
    top: $--header-height;
    bottom: 0;
    left: 0;
  }

  &:not(.ele-admin-logo-auto):not(.ele-admin-fixed-header) .ele-admin-logo {
    position: fixed;
    top: 0;
    left: 0;
  }

  .ele-admin-sidebar + .ele-admin-body,
  &:not(.ele-admin-fixed-header) .ele-admin-header {
    padding-left: $--sidebar-width;
    transition: padding-left $--sidebar-transition-anim, box-shadow $--sidebar-transition-anim;
  }

  &.ele-admin-collapse {
    .ele-admin-sidebar + .ele-admin-body,
    &:not(.ele-admin-fixed-header) .ele-admin-header {
      padding-left: $--sidebar-collapse-width;
    }
  }

  &:not(.ele-admin-fixed-header).ele-admin-logo-auto .ele-admin-sidebar {
    top: 0;
    z-index: ($--layout-z-index + 3);
  }
}

// 固定主体
.ele-admin-fixed-body {
  .ele-admin-content {
    height: calc(100vh - #{$--header-height});
    overflow: auto;
  }

  .ele-admin-sidebar {
    height: calc(100vh - #{$--header-height});
  }

  &.ele-admin-show-tabs {
    .ele-admin-content {
      height: calc(100vh - #{$--header-height + $--tabs-height});
    }

    &.ele-admin-tab-card .ele-admin-content {
      height: calc(100vh - #{$--header-height + $--tabs-height + $--tabs-card-padding});
    }
  }
}

// 暗色侧边栏
.ele-admin-side-dark {
  .ele-admin-logo {
    color: $--logo-dark-color;
    box-shadow: $--logo-dark-shadow;
    background: $--sidebar-background-dark;
  }

  .ele-admin-sidebar {
    box-shadow: $--sidebar-dark-shadow;
    background: $--sidebar-background-dark;
  }
}

// logo宽度自适应
@media screen and (min-width: 768px) {
  .ele-admin-logo-auto {
    .ele-admin-logo {
      width: auto !important;
      color: $--logo-light-color;
      padding: 0 12px 0 24px;
      background: none;
      box-shadow: none;

      & > span {
        display: inline !important;
      }

      & + .ele-admin-header-nav {
        margin-left: 12px;
      }
    }

    .ele-admin-sidebar {
      z-index: ($--layout-z-index + 1);
    }

    &.ele-admin-head-dark .ele-admin-logo {
      color: $--logo-dark-color;
    }
  }
}

// 暗色顶栏
.ele-admin-head-dark .ele-admin-header {
  color: #fff;
  box-shadow: $--shadow-head-dark;
  background: $--sidebar-background-dark;

  .el-breadcrumb__separator,
  .el-breadcrumb__inner, .el-breadcrumb__inner a,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
    color: rgba(255, 255, 255, .65);
  }

  .el-breadcrumb__inner.is-link,
  .el-dropdown {
    color: #fff;
  }
}

// 选项卡圆点风格
.ele-admin-tab-dot .ele-admin-tabs {
  .el-tabs__item {
    border-right: 1px solid $--border-color-extra-light;

    &:before {
      content: "";
      width: 9px;
      height: 9px;
      margin-right: 8px;
      display: inline-block;
      background: $--border-color-base;
      border-radius: 50%;
      transition: background-color .2s;
    }

    &.is-active:before {
      background: $--color-primary;
    }

    &:after {
      display: none;
    }
  }

  .el-tabs__nav-wrap:before,
  .el-tabs__nav-prev {
    border-right: 1px solid $--border-color-extra-light;
  }

  .el-tabs__nav-wrap:after,
  .el-tabs__nav-next,
  .ele-admin-tabs-drop .el-icon-arrow-down {
    border-left: 1px solid $--border-color-extra-light;
  }
}

// 选项卡卡片风格
@mixin card-tab-item {
  border-radius: 4px;
  height: ($--tabs-height - $--tabs-card-padding);
  line-height: ($--tabs-height - $--tabs-card-padding);
}

.ele-admin-tab-card .ele-admin-tabs {
  padding-top: $--tabs-card-padding;
  background: $--layout-body-background;
  box-shadow: 0 $--tabs-card-padding 0 $--layout-body-background;

  .el-tabs__item {
    @include card-tab-item;
    background: $--color-white;

    &:after {
      display: none;
    }

    &.is-active {
      background: $--color-white;
    }

    & + .el-tabs__item {
      margin-left: $--tabs-card-padding;
    }
  }

  .el-tabs__nav-wrap {
    &:before,
    &:after {
      @include card-tab-item;
    }
  }

  .el-tabs__nav-next,
  .el-tabs__nav-prev {
    @include card-tab-item;
    background: none;
  }

  .ele-admin-tabs-drop {
    top: $--tabs-card-padding;
    right: $--tabs-card-padding;

    .el-icon-arrow-down {
      @include card-tab-item;
      width: ($--tabs-height - $--tabs-card-padding);
      background: $--color-white;
    }
  }

  & + .ele-admin-content {
    margin-top: $--tabs-card-padding;

    & > .ele-body:first-child {
      padding-top: 0;
    }
  }
}

// 侧边栏彩色图标
.ele-admin-side-colorful {
  .ele-admin-sidebar > .el-menu > li {
    & > .el-submenu__title > i:first-child,
    & > i:first-child,
    & > .el-tooltip > i:first-child {
      color: #fff;
      background: #61b2fc;
      width: $--sidebar-colorful-icon-width;
      height: $--sidebar-colorful-icon-width;
      line-height: $--sidebar-colorful-icon-width;
      font-size: $--sidebar-colorful-icon-size;
      border-radius: 50%;
      text-align: center;
    }

    &:nth-child(even) {
      & > .el-submenu__title > i:first-child,
      & > i:first-child,
      & > .el-tooltip > i:first-child {
        background: #7dd733;
      }
    }

    &:nth-child(3) {
      & > .el-submenu__title > i:first-child,
      & > i:first-child,
      & > .el-tooltip > i:first-child {
        background: #32a2d4;
      }
    }

    &:nth-child(4) {
      & > .el-submenu__title > i:first-child,
      & > i:first-child,
      & > .el-tooltip > i:first-child {
        background: #7383cf;
      }
    }

    &:nth-child(5) {
      & > .el-submenu__title > i:first-child,
      & > i:first-child,
      & > .el-tooltip > i:first-child {
        background: #F5686F;
      }
    }

    &:nth-child(6) {
      & > .el-submenu__title > i:first-child,
      & > i:first-child,
      & > .el-tooltip > i:first-child {
        background: #2bccce;
      }
    }

    &:nth-child(7) {
      & > .el-submenu__title > i:first-child,
      & > i:first-child,
      & > .el-tooltip > i:first-child {
        background: #7dd733;
      }
    }

    &:nth-child(8) {
      & > .el-submenu__title > i:first-child,
      & > i:first-child,
      & > .el-tooltip > i:first-child {
        background: #FAAD14;
      }
    }
  }

  .ele-admin-sidebar .el-submenu > .el-menu > li {
    & > i:first-child:not(.el-submenu__icon-arrow),
    & > .el-submenu__title > i:first-child:not(.el-submenu__icon-arrow) {
      display: none;
    }

    & > span:before,
    & > .el-submenu__title > span:before {
      content: "";
      width: 8px;
      height: 8px;
      margin-right: 10px;
      position: static;
      border-radius: 50%;
      display: inline-block;
      vertical-align: 0.05em;
      background: $--border-color-base;
      transition: background .3s;
    }

    &.is-active,
    &:hover {
      & > span:before,
      & > .el-submenu__title > span:before {
        background: $--color-primary;
      }
    }
  }

  &.ele-admin-side-dark .ele-admin-sidebar .el-submenu > .el-menu > li {
    &.is-active,
    &:hover {
      & > span:before,
      & > .el-submenu__title > span:before {
        background: #fff;
      }
    }
  }
}

// 主体内容定宽
.ele-admin-body-limit .ele-body {
  max-width: $--body-limit-width;
  margin: 0 auto;
}

// 色弱模式
.ele-admin-weak {
  filter: invert(.8);
  background: $--color-text-primary;
  overflow-x: hidden;
}

/* 小屏幕遮罩层 */
.ele-admin-shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: ($--layout-z-index + 2);
  transition: background-color $--sidebar-transition-anim, left $--sidebar-transition-anim;
  visibility: hidden;
}

/* 小屏幕样式 */
@media screen and (max-width: 768px) {
  .ele-admin-sidebar,
  .ele-admin-logo {
    position: fixed !important;
    left: 0 !important;
    width: $--sidebar-width !important;
    z-index: ($--layout-z-index + 3) !important;
  }

  .ele-admin-sidebar {
    top: $--header-height !important;;
  }

  .ele-admin-logo > span {
    display: inline !important;
  }

  .ele-admin-header,
  .ele-admin-body {
    padding-left: 0 !important;
  }

  .ele-admin-tabs {
    left: 0 !important;
  }

  .ele-admin-breadcrumb {
    display: none;
  }

  .ele-admin-layout:not(.ele-admin-collapse) .ele-admin-shade {
    left: $--sidebar-width;
    background: rgba(0, 0, 0, .5);
    visibility: visible;
  }

  .ele-admin-collapse .ele-admin-sidebar,
  .ele-admin-collapse .ele-admin-logo {
    left: -$--sidebar-width !important;
    box-shadow: none !important;
  }

  .ele-admin-show-tabs:not(.ele-admin-tab-card):not(.ele-admin-head-dark) .ele-admin-header {
    box-shadow: 0 1px 0 $--border-color-extra-light !important;
  }
}
